{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>
    {{ form.media }}
</head>
<body>
<!-- Display edit form when user is logged in -->
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
<input type="button" value="set current location" id="update_location">
<!-- Display edit form when user is logged in -->
<p>
    <a href="{% url 'device_qr' id=device.id %}">Go to QR-code</a>
</p>
</body>
<script>
  (() => {
    const updateLocBtn = document.getElementById("update_location");
    const locationField = document.getElementById("id_location");
    updateLocBtn.addEventListener("click", () => {
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const {coords: {latitude, longitude}} = position;
          locationField.value = `${latitude},${longitude}`;
          locationField.dispatchEvent(new Event('keyup'));
        },
        (error) => console.error(error),
        {enableHighAccuracy: true});
    })
  })();

</script>
</html>