{% extends 'jobqr/layout.html' %}
{% load static %}

{% block head %}
    <title>Job - {{ job.name }}</title>
    <script src="https://cdn.jsdelivr.net/npm/jsqr@1.2.0/dist/jsQR.min.js"></script>
    <script src="https://unpkg.com/dayjs"></script>
    <script src="https://unpkg.com/dayjs/locale/nl-be"></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <h1>{{ job.name }}</h1>
        <div class="row">
            <p>This job can be found with this qr code: </p>
            <img src="https://qrcodeservice.herokuapp.com/?query={{ qr_url }}"
                 alt="qr code to this job">
        </div>
        <div class="row">
            <h3>current items</h3>
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">#Id</th>
                    <th scope="col">Naam</th>
                    <th scope="col">Laatste update</th>
                    <th scope="col">Is vermist</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody id="current_items">

                </tbody>
            </table>
        </div>
        <div class="row">
            <button id="start_adding_items" class="btn btn-primary btn-lg">Scan Items</button>
            <button id="add-pictures" class="btn btn-secondary ml-3 btn-lg">Add pictures</button>
        </div>
        <div class="row mt-3 ml-0 mr-0">
            <div class="row">
                <div id="pictures" style="width: 100%; display:flex;flex-direction: row" class="d-none">
                    <div style="flex-grow: 1;" class="pr-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" accept="image/*;capture=camera"
                                   multiple>
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>
                    <div>
                        <button class="btn btn-success btn-lg" id="upload-pictures">Submit</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="uploaded_images" class="d-none">
                    {% for image in job.images.all %}
                        <div class="col-xs-2 col-lg-2 col-md-2">
                            <img src="{{ image.image.url }}" alt="image of job: {{ job.name }}" class="img-fluid">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div id="output" hidden>
                <div id="outputMessage">No QR code detected.</div>
            </div>
        </div>
        <div class="row" id="scanner-cv">
            <div id="add_items" hidden>
                <div id="loadingMessage">🎥 Unable to access video stream (please make sure you have a webcam enabled)
                </div>
                <canvas id="canvas" hidden></canvas>
            </div>
        </div>
    </div>
    <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="itemModalLabel">Add Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" id="add_form">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div id="loading_spinner" hidden>
                            <p>Getting your location to register the item.</p>
                            <div class="spinner-border text-info" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <input type="hidden" class="form-control" id="item_id_input"
                               name="item_id" readonly>
                        <p><b>Name:</b> <span id="item_add_name"></span></p>
                    </div>
                    <div class="modal-footer">
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'jobqr/js/orientation.js' %}"></script>
    <script src="{% static 'jobqr/js/index.js' %}"></script>
    <script src="{% static 'jobqr/js/pic_uploader.js' %}"></script>
{% endblock %}